- hosts: servers
  become: true
  tasks:
    - name: Install bash
      ansible.builtin.apt:
        name: bash
        update_cache: yes
    - name: Install curl
      ansible.builtin.apt:
        name: curl
    - name: Install util-linux
      ansible.builtin.apt:
        name: util-linux
    - name: Install grep
      ansible.builtin.apt:
        name: grep
    - name: Install open-iscsi
      ansible.builtin.apt:
        name: open-iscsi
    - name: Start iscsid daemon
      ansible.builtin.systemd_service:
        name: iscsid
        enabled: true
        state: started