services:
  jellyfin:
    image: jellyfin/jellyfin:2024072905
    restart: unless-stopped
    user: 1000:1000
    network_mode: host
    volumes:
      - /mnt/media/:/media/
      - ./config/:/config/
      - ./cache/:/cache/
    environment:
      JELLYFIN_PublishedServerUrl: "https://jellyfin.external.rafa.run"