http:
  routers:
    vaultwarden:
      entryPoints:
        - "websecure"
      rule: "Host(`vaultwarden.external.rafa.run`)"
      tls:
        certResolver: production
      service: k8s-cluster
    jellyfin:
      entryPoints:
        - "websecure"
      rule: "Host(`jellyfin.external.rafa.run`)"
      middlewares:
        - "jellyfin"
      tls:
        certResolver: production
      service: media-server
    node01:
      entryPoints:
        - "websecure"
      rule: "Host(`node01.gameserver.rafa.run`)"
      tls:
        certResolver: production
      service: node01
  services:
    k8s-cluster: # This service points to my k8s cluster at home
      loadBalancer:
        servers:
          - url: "https://192.168.0.60"
    media-server: # This service points to my media server at home
      loadBalancer:
        servers:
          - url: "http://192.168.0.80:80"
    node01:
      loadBalancer:
        servers:
          - url: "http://192.168.0.40:443"
  middlewares:
    jellyfin:
      headers:
        customResponseHeaders:
          X-Robots-Tag: "noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex"
          X-XSS-PROTECTION: 0
        customFrameOptionsValue: "allow-from https://jellyfin.external.rafa.run'"
        frameDeny: true
        contentTypeNosniff: true
        SSLRedirect: true
        SSLHost: jellyfin.external.rafa.run
        SSLForceHost: true
        STSIncludeSubdomains: true
        STSPreload: true
        forceSTSHeader: true