services:
  traefik:
    image: traefik:v3.2.0
    container_name: traefik
    ports:
      - 80:80
      - 443:443
      #- 9444:8080 # Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./config.yml:/etc/traefik/config.yml
      - ./certs/:/etc/traefik/certs/
      - ./logs/:/var/log/traefik/
    restart: unless-stopped
networks:
  default:
    name: traefik
    external: true