global:
  checkNewVersion: false
  sendAnonymousUsage: false

# Log information
log:
  level: ERROR  # DEBUG, INFO, WARNING, ERROR, CRITICAL
  format: common  # common, json, logfmt
  filePath: /var/log/traefik/traefik.log

# Accesslog
accesslog:
  format: common  # common, json, logfmt
  filePath: /var/log/traefik/access.log

# Enable API and Dashboard
api:
  dashboard: true
  insecure: true

# Server Transport
serversTransport:
  # Ignore insecure certificates on server side
  insecureSkipVerify: true

# Entry Points configuration
# ---
entryPoints:
  web:
    address: :80
    # Redirect to HTTPS
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          priority: 1000

  websecure:
    address: :443

# Configure CertificateResolver
certificatesResolvers:
  staging:
    acme:
      email: rafael.kienitz+acme@gmail.com
      storage: /etc/traefik/certs/acme.json
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      httpChallenge:
        entryPoint: web

  production:
    acme:
      email: rafael.kienitz+acme@gmail.com
      storage: /etc/traefik/certs/acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      httpChallenge:
        entryPoint: web

providers:
  docker:
    exposedByDefault: false # Default is true
  file:
    # watch for dynamic configuration changes
    filename: /etc/traefik/config.yml
    watch: true