x-common:
  database:
    &db-environment
    # Do not remove the "&db-password" from the end of the line below, it is important
    # for Panel functionality.
    MARIADB_PASSWORD: &db-password "CHANGE_ME"
    MARIADB_ROOT_PASSWORD: "CHANGE_ME_TOO"
  panel:
    &panel-environment
    # This URL should be the URL that your reverse proxy routes to the panel server
    APP_URL: "https://panel.gameserver.rafa.run"
    # A list of valid timezones can be found here: http://php.net/manual/en/timezones.php
    APP_TIMEZONE: "Europe/Berlin"
    APP_SERVICE_AUTHOR: "noreply@kienitz.cloud"
    TRUSTED_PROXIES: "*" # Set this to your proxy IP
    # Uncomment the line below and set to a non-empty value if you want to use Let's Encrypt
    # to generate an SSL certificate for the Panel.
    # LE_EMAIL: ""
  mail:
    &mail-environment
    MAIL_FROM: "noreply@kienitz.cloud"
    MAIL_DRIVER: "smtp"
    MAIL_HOST: "mail.kienitz.cloud"
    MAIL_PORT: "1025"
    MAIL_USERNAME: ""
    MAIL_PASSWORD: ""
    MAIL_ENCRYPTION: "true"

#
# ------------------------------------------------------------------------------------------
# DANGER ZONE BELOW
#
# The remainder of this file likely does not need to be changed. Please only make modifications
# below if you understand what you are doing.
#
services:
  database:
    image: mariadb:11.3.2
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./data/database/:/var/lib/mysql/
    environment:
      <<: *db-environment
      MARIADB_DATABASE: "panel"
      MARIADB_USER: "pterodactyl"
  cache:
    image: redis:7.2.4-alpine
    restart: unless-stopped
  panel:
    image: ghcr.io/pterodactyl/panel:v1.11.7
    restart: unless-stopped
    networks:
      - traefik
      - default
    links:
      - database
      - cache
    volumes:
      - ./data/var/:/app/var/
      - ./data/nginx/:/etc/nginx/http.d/
      - ./data/certs/:/etc/letsencrypt/
      - ./data/logs/:/app/storage/logs/
    environment:
      <<: [*panel-environment, *mail-environment]
      DB_PASSWORD: *db-password
      APP_ENV: "production"
      APP_ENVIRONMENT_ONLY: "false"
      CACHE_DRIVER: "redis"
      SESSION_DRIVER: "redis"
      QUEUE_DRIVER: "redis"
      REDIS_HOST: "cache"
      DB_HOST: "database"
      DB_PORT: "3306"
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik
      - traefik.http.routers.pterodactyl.entrypoints=web, websecure
      - traefik.http.routers.pterodactyl.rule=Host(`panel.gameserver.rafa.run`)
      - traefik.http.services.pterodactyl.loadbalancer.server.port=80
      - traefik.http.routers.pterodactyl.tls=true
      - traefik.http.routers.pterodactyl.tls.certresolver=production
networks:
  default:
    ipam:
      config:
        - subnet: 172.20.0.0/16
  traefik:
    external: true